<!DOCTYPE html>
<html lang="en">
{{ partial "head.html" . }}
<style>
  @font-face {
    font-family: AlibabaPuHuiTi-2-65-Medium;
    src: url(https://puhuiti.oss-cn-hangzhou.aliyuncs.com/AlibabaPuHuiTi-2/AlibabaPuHuiTi-2-65-Medium/AlibabaPuHuiTi-2-65-Medium.eot) format('embedded-opentype'),
      url(https://puhuiti.oss-cn-hangzhou.aliyuncs.com/AlibabaPuHuiTi-2/AlibabaPuHuiTi-2-65-Medium/AlibabaPuHuiTi-2-65-Medium.otf) format('opentype'),
      url(https://puhuiti.oss-cn-hangzhou.aliyuncs.com/AlibabaPuHuiTi-2/AlibabaPuHuiTi-2-65-Medium/AlibabaPuHuiTi-2-65-Medium.ttf) format('TrueType'),
      url(https://puhuiti.oss-cn-hangzhou.aliyuncs.com/AlibabaPuHuiTi-2/AlibabaPuHuiTi-2-65-Medium/AlibabaPuHuiTi-2-65-Medium.woff) format('woff'),
      url(https://puhuiti.oss-cn-hangzhou.aliyuncs.com/AlibabaPuHuiTi-2/AlibabaPuHuiTi-2-65-Medium/AlibabaPuHuiTi-2-65-Medium.woff2) format('woff2');
  }
</style>

<body>
  {{partial "search.html" .}}
  {{partial "chat.html" .}}
  <div id="index" class="singlePage">
    {{partial "header.html" .}}
    <img id="banner" src="/banner.svg" />
    <article>
      {{partial "toc.html" .}}
      {{partial "textprocessing.html" . }}
      {{if $.Site.Data.config.enableRecentNotes}}
      {{partial "recent.html" . }}
      {{end}}
    </article>
    <div class="delay t-4">
      {{partial "footer.html" .}}
    </div>
  </div>
</body>

</html>